In [1]:
import pandas as pd
import seaborn as sns

df = pd.read_csv("insurance.csv")
print(df)

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [8]:
sns.scatterplot(dmi = hue, x = "smoker", y = "charges", data = df)

NameError: name 'hue' is not defined

In [9]:
df['region'].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [15]:
smokers = df[df.smoker == 'yes']
nonsmokers = df[df.smoker == 'no']
smokers.head()

    age     sex    bmi  children smoker     region     charges
0    19  female  27.90         0    yes  southwest  16884.9240
11   62  female  26.29         0    yes  southeast  27808.7251
14   27    male  42.13         0    yes  southeast  39611.7577
19   30    male  35.30         0    yes  southwest  36837.4670
23   34  female  31.92         1    yes  northeast  37701.8768

In [13]:
smokers.corr()

C:\Users\nahuja\AppData\Local\Temp\ipykernel_24420\2267250395.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  smokers.corr()

               age       bmi  children   charges
age       1.000000  0.059674  0.081183  0.368224
bmi       0.059674  1.000000 -0.012619  0.806481
children  0.081183 -0.012619  1.000000  0.035945
charges   0.368224  0.806481  0.035945  1.000000

In [16]:
nonsmokers.corr()

C:\Users\nahuja\AppData\Local\Temp\ipykernel_24420\1372659611.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  nonsmokers.corr()

               age       bmi  children   charges
age       1.000000  0.122638  0.033395  0.627947
bmi       0.122638  1.000000  0.019208  0.084037
children  0.033395  0.019208  1.000000  0.138929
charges   0.627947  0.084037  0.138929  1.000000

In [20]:
def trainmodel(traindf, x, y):
    slopes = []
    for i in range(len(traindf)):
        slope = (traindf.iloc[i]["charges"] - y) / traindf.iloc[i]["bmi"]
        slopes.append(slope)
    return sum(slopes) / len(slopes)

m = trainmodel(smokers, 0, 0)
b = 10000
print("y =", m, "x +", b)

y = 1023.6400032849159 x + 10000

In [21]:
def trainModel(traindf, x, y):
    for i in range(len(testDF)):
        predicted = (m * testDF.iloc[i]["bmi"]) + b
        actual = (m * trainDF.iloc[i]["charges"])
        differences

SyntaxError: incomplete input (1176507276.py, line 1)